@import "ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.locate,
.record {
  left: .5em;
}

.locate {
  top: 6em;
}

.record {
  top: 8.5em;
}

.record.recording button {
  color: red;
}

.info {
  left: .5em;
  right: .5em;
  bottom: .5em;
  padding: .5em;
}